<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <node name="slope_filter" pkg="slope_edge_detection" type="slope_filter.py" />

  <node name="original_image_view" pkg="image_view" type="image_view" >
    <remap from="image" to="/head_camera/image_raw"/>
  </node>
  <node name="filtered_image_view" pkg="image_view" type="image_view" >
    <remap from="image" to="/output/image_raw"/>
  </node>
</launch>
